<% provide(:title, "À propos") %>
<h1>À propos</h1>
<br><br><br>

<div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8 lorem-text">
      <p class="term-title">Comment nous en sommes arrivé là</p>
      <p class="term-desc">
        Nous sommes partis du constat que Madagascar souffrait trop souvent de l'effet tunnel. En quelques mots, c'est quand on commande un produit qui va nécessiter plusieurs étapes pour aboutir et que le client n'est informé qu'à la toute fin si son produit sera disponible, aura échoué ou s'il sera ajourné.
        Le tunnel est une image mais il veut bien dire ce qu'il veut dire. Quand on commande, on ne sait jamais où ça en est, il faut chercher dans ses messages et quand le produit arrive, il manque des parties ou ça n'arrive pas en temps et en heure.
        <br><br>
        L'autre partie du projet est aussi de rendre le suivi le plus simple et le plus accessible possible.<br>
        À ce jour MG Suivi est encore un MVP (produit minimum viable) pour la gestion de suivi. Il est porté par une équipe de jeunes esprits extrêmement motivé et dynamique.

      </p>
    </div>
    <div class="col-lg-2">
    </div>
</div>
