<% provide(:title, "Droits d'accès") %>
<div class="row">
    <div class="col-lg-12 pos-center img-ill">
      <%= image_tag("keyaccess400x400.png", alt: "Rails logo", width: "150") %>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4 lorem-text">
        <p>
          <strong>Navré</strong>, vous n'avez pas les droits d'accès nécessaires pour faires les actions que vous demandez.
          Si vous considérez que vous devriez pouvoir le faire, nous vous prions de contacter notre support avec le code erreur DIL278 et en nous décrivant précisément les actions que vous avez effectué.
        </p>
    </div>
    <div class="col-lg-4">
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4 mgs-author-right">
      <a href='https://fr.freepik.com/photos-vecteurs-libre/silhouette'>L'image affichée est issue de Freepik</a>
    </div>
    <div class="col-lg-4">
    </div>
</div>
