<% provide(:title, "Introuvable") %>
<div class="row">
    <div class="col-lg-12 pos-center img-ill">
      <%= image_tag("map404400x400.png", alt: "Rails logo", width: "150") %>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4 lorem-text">
        <p>
          <strong>Navré</strong>, la page que vous demandez n'existe pas.
          Si vous considérez que vous devriez pouvoir y accéder, nous vous prions de contacter notre support avec le code erreur ERR404 et en nous décrivant précisément les actions que vous avez effectué.
        </p>
    </div>
    <div class="col-lg-4">
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4 mgs-author-right">
      <a href='https://fr.freepik.com/photos-vecteurs-libre/fond'>L'image affichée est issue de Freepik</a>
    </div>
    <div class="col-lg-4">
    </div>
</div>
