<% provide(:title, "Avantages") %>
<div id="mg-graph-identifier">stat-fea-gr</div>
<h1>Les fonctionnalités</h1>
<br><br>

<div class="row">
    <div class="col-sm-12">
      <div aria-label="Page navigation example">
        <ul class="pagination fea-title-blc">
          <li class="page-item fea-li" id="fea-ctr-clt"><a class="page-link">Client</a></li>
          <li class="page-item fea-li" id="fea-ctr-part"><a class="page-link">Transporteur</a></li>
        </ul>
      </div>
    </div>
</div>
<br><br>

<div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8 lorem-text">
      <div id="fea-det-client">

        <p class="fea-blc-title">Avantage client</p>
        <p class="fea-desc">Ne stressez plus quand vous commandez</p>
        <hr>
        <p class="fea-title">Notification client</p><p class="fea-desc">Chaque étape importante est notifiée par email</p><p class="fea-need"><strong>Utilité</strong><br>Vous n'avez plus besoin d'harceler le transporteur pour savoir où se trouve votre colis. Vous réduisez votre stresse d'autant.</p>
        <p class="fea-title">Vérification</p><p class="fea-desc">Bien qu'une pièce d'identité est nécessaire à la récupération de votre colis, un code secret vous est envoyé et que le client seul connait. Le colis ne peut être remis sans ce code.</p><p class="fea-need"><strong>Utilité</strong><br>Cela rend très difficile le vol de colis par différents intervenants ou tiers. Ils ne peuvent plus "affirmer de mauvaise foi" que le colis a bien été remis parce que pour passer à l'état "Remis au client" le code est nécessaire. Seul le client connait ce code.</p>
        <p class="fea-title">Tableau</p><p class="fea-desc">Les différents colis sont consolidés dans une seule vue client "façon excel." On peut voir exactement quels sont ses colis en cours et où ils se trouvent.</p><p class="fea-need"><strong>Utilité</strong><br>Plus besoin de maintenir un fichier excel de ses suivis à côté. Moins de duplication de l'information et moins de risque d'erreur.</p>
        <p class="fea-title">Centralisation</p><p class="fea-desc">Si vous avez plusieurs suivis avec différents fournisseurs/transporteurs, ils sont tous disponibles au même endroit</p><p class="fea-need"><strong>Utilité</strong><br>Vous ne cherchez plus dans plusieurs conversations ou Excel vos différentes commandes</p>
        <p class="fea-title">Multi transporteur</p><p class="fea-desc">Si vous avez besoin de faire venir un colis avec différents transporteur, vous n'avez besoin que d'un seul compte MG Suivi.</p><p class="fea-need"><strong>Utilité</strong><br>Pas besoin de multiplier vos accès, toutes vos commandes sont centralisés sur cette plateforme.</p>
      </div>

      <div id="fea-det-part">
        <p class="fea-blc-title">Avantage transporteur</p>
        <p class="fea-desc">Reprenez le contrôle de votre activité</p>
        <hr>

        <p class="fea-title">Référencement unique</p><p class="fea-desc">Chaque colis est taggé par un référencement unique. Vous savez exactement à quel étape se trouve tel référence</p><p class="fea-need"><strong>Utilité</strong><br>Vous ne perdez plus de temps à chercher dans vos messages où et à quel étape se trouve un colis</p>
        <p class="fea-title">Notification email</p><p class="fea-desc">À chaque étape que vous avez décidé, MG Suivi notifiera automatiquement le client.</p><p class="fea-need"><strong>Utilité</strong><br>Plus besoin d'informer les clients un à un pour leur dire où se trouve son colis. Le client ne sera plus stressé et ne vous demandera plus d'information parce qu'il aura tout sur la plateforme.</p>
        <p class="fea-title">Aide au stockage</p><p class="fea-desc">La gestion de colis oblige à poser les paquets à différents endroits de l'entrepôt. MG Suivi peut identifier la zone de stockage où vous aurez entreposé tel colis.</p><p class="fea-need"><strong>Utilité</strong><br>Ne perdez plus de temps à retrouver physiquement le colis dans la zone de stockage. C'est marqué dans votre suivi.</p>
        <p class="fea-title">Tableaux de bord de données consolidées </p><p class="fea-desc">Vos données sont organisés en tableaux.</p><p class="fea-need"><strong>Utilité</strong><br>Vous pouvez filtrer, trier et ainsi zoomer sur telle partie de votre exercice.</p>
        <p class="fea-title">Graphique</p><p class="fea-desc">MG Suivi vous fourni divers graphiques lisibles de votre activité.</p><p class="fea-need"><strong>Utilité</strong><br>Des charts et graphique vous aident à identifier rapidement où vous devez prendre une action.</p>
        <p class="fea-title">Scan</p><p class="fea-desc">À chaque étape franchie par le colis, le transporteur le scanne pour marquer l’étape .</p><p class="fea-need"><strong>Utilité</strong><br>On réduit le risque d’erreur et on marque efficacement la position d’un paquet. Le scan est un procédé extrêment rapide si on compare au mode manuel où il faut tout inscrire et contresigner sur différents documents manuels.</p>
        <p class="fea-title">Workflow dédié</p><p class="fea-desc">De nombreux workflow (Paris, Guangzhou, provinces) sont disponibles.</p><p class="fea-need"><strong>Utilité</strong><br>Vous avez des circuits personnalisés et adaptés à votre activité</p>
        <p class="fea-title">Information centralisée </p><p class="fea-desc">Vous et votre équipe partagez les informations instantanément.</p><p class="fea-need"><strong>Utilité</strong><br>Plus besoin de devoir contacter un équipier qui aurait géré personnellement un client. Les infos clients sont disponibles pour toute l'équipe.</p>
      </div>

      <div id="fea-det-both">

        <p class="fea-title">Anonymisation</p><p class="fea-desc">Les informations qui vous concernent sont anonymisée.</p><p class="fea-need"><strong>Utilité</strong><br>Plus besoin de mettre votre nom en tant que destinataire d'un colis. Votre nom ne sera pas visible en regardant le paquet ni en allant sur le site. Seul votre référence apparaît.</p>
        <p class="fea-title">Démocratisation</p><p class="fea-desc">La banalisation du suivi pour tous réduit fortement les coût d'intégration.</p><p class="fea-need"><strong>Utilité</strong><br>Nous pouvons réduire les prix en offrant un outil simple et utilisable par le plus de monde.</p>
        <p class="fea-title">Plateforme</p><p class="fea-desc">MG Suivi centralise vos échanges.</p><p class="fea-need"><strong>Utilité</strong><br>Plus besoin de chercher dans vos mails ou message privé tel mise à jour sur votre colis. Toutes les informations concernant votre suivi sont centralisé autour de la référence de suivi.</p>
        <p class="fea-title">Référence</p><p class="fea-desc">Chaque colis est taggé par une référence. Vous savez exactement à quelle étape se trouve telle référence</p><p class="fea-need"><strong>Utilité</strong><br>La référence unique réduit fortement le risque d'erreur, cela rajoute en confiance sur la livraison de votre commande et réduit votre stress.</p>

      </div>


    </div>
    <div class="col-lg-2">
    </div>
</div>
