<% provide(:title, "Aide") %>
<h1>Aide</h1>
<br><br><br>
<div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8 lorem-text lorem-inf">
        <i class="icon-refbandw-1"></i>
        MG Suivi a été optimisé pour <i class="fab fa-safari"></i> Safari et <i class="fab fa-chrome"></i> Chrome. Nous vous recommandons d'utiliser d'abord ces navigateurs si vous rencontrez un problème. Nous avons bien sûr prévu de l'optimiser aux autres navigateurs.<br><br>
        Privilégiez les <i class="fas fa-tv"></i> écrans larges (ordinateur ou tablette) pour toutes les tâches d'organisation et de management.<br>
        Privilégiez les <i class="fas fa-mobile-alt"></i> smartphones pour toutes tâches de marquage.<br><br>
        <hr>
        Si vous utilisez le marquage par <i class="fas fa-mobile-alt"></i> smartphone pour la première fois, MG Suivi va vous demander les autorisations de la caméra et la localisation.<br>
        La géolocalisation dépent du niveau de suivi que vous voulez proposer. Vous pouvez évidemment la refuser. Cependant vous devrez autoriser l'accès caméra.
        Il peut mettre un peu de temps à s'initialiser et mettre en cache les informations. Soyez patient.<br><br>
        Si vous changez d'avis et que vous voulez <strong>autoriser la localisation</strong> (ou revenir sur l'autorisation de caméra), nous vous invitons à mettre à jour les autorisations directement dans le navigateur mobile.
        <hr>
        En cas de problème, <i class="far fa-sad-cry"></i> sachez que nous sommes navrés pour la gêne occasionnée et veuillez accepter toutes nos excuses.<br>
        Pour vous aider à résoudre votre soucis veuillez remplir ce formulaire et nous contacter. <br><br><a href="https://forms.gle/DM6yp7mksqE753ht5" class="btn btn-md btn-default">Déclarer un problème ou un amélioration</a>
        <hr>
        <div class="help-title">Workflow Paris</div>
        <%= image_tag("Flux Process PA V3.png", alt: "MGSuivi WF Paris", width: "100%")%>
        <hr>
        <div class="help-title">Workflow Guangzhou</div>
        <%= image_tag("Flux Process GZ1 V3.png", alt: "MGSuivi WF Paris", width: "100%")%>
        <hr>
        <p>
        Code de vérification:
        <% if Rails.env.production? %>
          notify prd28
        <% end %>
        <% if Rails.env.test? %>
          notify tst90
        <% end %>
        <% if Rails.env.development? %>
          notify dev78
        <% end %>
        </p>
    </div>
    <div class="col-lg-2">
    </div>
</div>
