<% provide(:title, "Help") %>
<h1>Aide</h1>
<br><br><br>
<div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8 lorem-text">

        MG Suivi a été optimisé pour <i class="fab fa-safari"></i> Safari et <i class="fab fa-chrome"></i> Chrome. Nous vous recommandons d'utiliser d'abord ces navigateurs si vous rencontrez un problème.<br><br>

        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sodales orci eros, a tincidunt magna pulvinar ut. Proin ligula neque, elementum nec justo ut, faucibus rhoncus enim. Nullam blandit nisl arcu, a fermentum leo feugiat iaculis. Proin sed dignissim nulla, sed interdum quam. Mauris ac aliquam tortor. Vivamus in urna massa. In hac habitasse platea dictumst. Phasellus lacus nulla, lobortis ac blandit vitae, mollis sed nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum pharetra efficitur sodales. Donec est dolor, malesuada ac consequat et, dapibus eu tortor.

        Phasellus eu tristique ipsum. Ut congue mi luctus posuere imperdiet. Vivamus elit nisi, consequat et mauris sed, hendrerit vulputate lorem. Sed metus nibh, placerat vel rhoncus sed, malesuada at ante. Suspendisse quis purus sed metus cursus pulvinar eu consequat elit. Phasellus iaculis neque quam, eu molestie turpis convallis vel. Nam eleifend scelerisque libero ut cursus. Donec faucibus ullamcorper lectus a bibendum. Mauris a arcu ac ipsum tincidunt dictum eu eget sapien.

        In hac habitasse platea dictumst. Integer magna nibh, consectetur eget urna at, ultrices ultrices eros. Quisque euismod blandit enim ut tristique. Integer in lacus dapibus, ullamcorper ligula molestie, posuere nunc. Mauris lacinia odio ante, vitae imperdiet massa euismod in. Pellentesque sit amet tellus luctus, porta dolor nec, eleifend felis. Etiam sodales mattis leo, quis cursus velit lacinia eget. Integer elit nibh, tristique a leo nec, ultricies pellentesque tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer elementum erat elit, eu ullamcorper ante pulvinar et.

        Mauris eleifend lacus at augue suscipit, vel laoreet lorem maximus. Nullam vitae massa quis elit pellentesque dictum. Maecenas non est vestibulum, venenatis ligula sit amet, eleifend nisl. Cras congue elementum nisl vitae iaculis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac nisi auctor, tincidunt tellus eu, lobortis neque. Nunc feugiat nibh vulputate, vehicula nisl nec, faucibus nulla. Vestibulum in nulla eget neque elementum egestas at auctor sem. Maecenas mattis sem magna, a interdum sapien aliquam quis. Aenean quis magna at ligula pharetra dapibus. Nulla at enim eu purus pellentesque pretium.

        Morbi nec velit ornare, cursus tellus a, laoreet nisi. Donec sit amet vestibulum urna, at scelerisque odio. Aenean nunc neque, luctus sollicitudin elementum ut, viverra ac massa. Donec rutrum arcu quis consequat dictum. Suspendisse ultricies commodo condimentum. Quisque condimentum mauris est, eu dapibus est dapibus sed. Vivamus mattis diam malesuada, lacinia elit et, finibus nunc. Vestibulum luctus diam eget cursus tincidunt. In elementum tellus id nunc mollis elementum at et metus. Vestibulum rhoncus tempor justo, id mollis erat posuere ac. Phasellus id nibh risus. Etiam non cursus dolor. Vivamus consectetur tincidunt dolor, sed bibendum urna sagittis sed. Nunc et turpis accumsan erat fermentum luctus. Nulla tincidunt lorem ex, vitae finibus enim faucibus quis.
        <% if Rails.env.production? %>
          notify prd !
        <% end %>
        <% if Rails.env.test? %>
          notify test !
        <% end %>
        <% if Rails.env.development? %>
          notify dev !
        <% end %>
        </p>
    </div>
    <div class="col-lg-2">
    </div>
</div>
