<div class="center jumbotron">
  <h1>Bienvenu sur MG Suivi</h1>

  <h2>
    L'application qui vous permet de suivre vos colis, paquets ou commandes.
  </h2>

  <%= link_to "Connectez-vous !", signup_path, class: "btn btn-lg btn-default" %>
</div>
