<% provide(:title, "Utiliser MGSuivi") %>
<h1>Débuter avec MG Suivi</h1>
<br><br><br>
<div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8 lorem-text">
        <p class="howto">
          Pour obtenir votre suivi, c'est très facile et en seulement trois étapes :<br><br>

          <i class="in-howto-title fas fa-user-circle"></i><br>
          <p class="in-howto">Créez votre compte sur MG Suivi</p><br>
        </p>
          <hr>
        <p class="howto">
          <i class="in-howto-title fas fa-dolly"></i><br>
          <p class="in-howto">Demandez à votre super transporteur de vous ajouter à sa liste de client</p><br>
        </p>
          <hr>
        <p class="howto">
          <i class="in-howto-title fas fa-tag"></i><br>
          <p class="in-howto">Vous pouvez créer votre premier suivi avec lui !</p><br>
        </p>
    </div>
    <div class="col-lg-2">
    </div>
</div>
