<% provide(:title, "Utiliser MGSuivi") %>
<h1>Utilisez MG Suivi</h1>
<br><br><br>
<div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8 lorem-text">
        <p>
          Pour obtenir votre suivi, c'est très facile et en trois étapes :<br><br>

          1/&nbsp;Créez votre compte&nbsp;<i class="fas fa-user-circle"></i><br>
          <hr>
          2/&nbsp;Demandez à votre transporteur de vous ajouter à sa liste de client&nbsp;<i class="fas fa-dolly"></i><br>
          <hr>
          3/&nbsp;Vous pouvez créer votre premier suivi avec lui !&nbsp;<i class="fas fa-tag"></i><br>

        </p>
    </div>
    <div class="col-lg-2">
    </div>
</div>
