<% provide(:title, "Devenons partenaire") %>
<h1>Devenons partenaires</h1>
<br><br><br>
<div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8 lorem-text">
        <div class="mg-center-img pos-center">
          <%= image_tag("deliveryvan800.png", alt: "Partner", width: "250", id: "logo-home")%>
        </div>

        <p>
          Vous voulez nous rejoindre ? Nous serons heureux de vous rencontrer et de vous faire une présentation. Notre équipe est toujours enthousiaste et motivée à faire avancer Madagascar et l'Afrique vers le progrès.
          MG Suivi peut avoir des applications dans divers domaines où le suivi est utile comme le transport, l'industrie ou la vente.
          <br>
          <br>
          Écrivez nous sur hello@mgsuivi.com <i class="fas fa-envelope-open-text"></i>
          ou sur notre page MG Suivi <i class="fab fa-facebook"></i>
        </p>
        <hr>
        <div>
          En général, nous procédons en deux phases. Ces deux phases sont totalement gratuites.<br><br>
          <strong><i class="fas fa-play-circle"></i> L'initialisation :</strong><br>
          Vous identifiez cinq ou six de vos clients qui seraient enthousiastes à l'idée d'être pilote sur MG Suivi. Ce sont vos early adopters, nous recueillerons leurs avis et vous verrez si MG Suivi est bien adapté à votre activité.
          Cette phase est privée, vous pouvez décider à la fin si vous voulez pousuivre l'aventure ou vous arrêter là.
          <br><br>
          <strong><i class="fas fa-chart-line"></i> La montée en charge :</strong><br>
          Cette phase est publique. Vos clients seront ravis d'avoir un outils de suivi, vous leur annoncez que vous intégrez MG Suivi à votre process. Le but de cette phase est de paramétrer correctement votre compte MG Suivi en fonction de votre activité.
        </div>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="row">

    <div class="col-lg-8 mgs-author-right">
      <a href='https://fr.freepik.com/photos-vecteurs-libre/logo'>Source des images fr.freepik.com</a>
    </div>
    <div class="col-lg-4">
    </div>
</div>
