<% provide(:title, "Prix") %>
<h1>Pricing</h1>
<hr>
<div class="row">
  <div class="col-lg-12 pos-center top-text-pc">
    Découvrez vite nos offres. Contactez nous sur hello@mgsuivi.com pour plus d'information.
  </div>
</div>

<div class="row pc-big-block pos-center">
    <div class="col-lg-3 bg-pc-gen bg-pc-free">
      <div class="title-pc">Free</div>
      <div class="subtitle-pc">
        Pack de 6 codes barres
      </div>
      <div class="price-pc">
        Gratuit
      </div>
      <div class="note-det-pc pos-center">
        Pour obtenir votre essai, remplissez ce formulaire.
      </div>
    </div>
    <div class="col-lg-3 bg-pc-gen bg-pc">
      <div class="title-pc">Starter</div>
      <div class="subtitle-pc">
        Pack de 12 codes barres
      </div>
      <div class="price-pc">
        XXX XXXAr
      </div>
      <div class="note-det-pc pos-center">
          Pour marquer des colis de poids inférieur à Xkg. Cela revient à XX XXXAr le codes barres.
      </div>
      <div class="note-pc pos-center">
        <div>
          Prix pour 12 codes barres supérieur à Xkg: XXX XXXAr.
        </div>
      </div>
    </div>
    <div class="col-lg-3 bg-pc-gen bg-pc-ab">
      <div class="title-pc">Régulier</div>
      <div class="subtitle-pc">
        Abonnement 1 mois
      </div>
      <div class="price-pc">
        X XXX XXXAr
      </div>
      <div class="note-det-pc pos-center">
          Pour marquer des colis de poids inférieur à Xkg. Cela revient à XX XXXAr le codes barres.
      </div>
      <div class="note-pc pos-center">
        <div>
          Limite de XXX codes barres. Prix pour abonnement incluant des codes barres supérieur à Xkg: X XXX XXXAr.
        </div>
      </div>
    </div>
    <div class="col-lg-3 bg-pc-gen bg-pc-ab">
      <div class="title-pc">Confort</div>
      <div class="subtitle-pc">
        Abonnement 1 an
      </div>
      <div class="price-pc">
        XX XXX XXXAr
      </div>
      <div class="note-det-pc pos-center">
          Étapes de suivi personnalisable. Pas de limite de poids.
      </div>
      <div class="note-pc pos-center">
        <div>
          Limite de XXX nouveaux codes barres par mois.

        </div>
      </div>
    </div>
</div>
<div class="row">
  <div class="col-lg-12 pos-center bottom-text">
    Toutes les offres inclus le suivi sur tableau de bord, les étiquettes de colis non suivi, la possibilité d'export Excel et bien sûr, l'assistance de notre équipe.
  </div>
</div>
