<% provide(:title, "Scan") %>
<h1>Scannez code barre</h1>
<div id="mg-graph-identifier">readbc</div>
<div>
  <div class="row">

      <div class="col-lg-12" id="demo-content">

          <div>
            <div class="mgs-bg-scan col-sm-12">
              <a class="btn btn-lg btn-block btn-default" id="startButton">Scan</a>
            </div>

            <div class="mgs-bg-scan col-sm-12">
              <a class="btn btn-sm btn-block btn-default" id="resetButton">Stopper la Caméra</a>
            </div>
          </div>

          <br><br>
          <div class="col-lg-12 mgs-cam">
              <video id="video" width="275" height="275" style="background-color: #C6B2D8"></video>
          </div>


          <div id="mgs-switchcam" class="mgs-bg-scan col-sm-12 mgs-cam">
            <div class="btn-group" role="group" aria-label="Switch Camera">
              <button id="mgs-scan-cam1" type="button" class="btn btn-default">Caméra 1</button>
              <button id="mgs-scan-cam2" type="button" class="btn btn-default">Caméra 2</button>
            </div>
          </div>


          <div id="sourceSelectPanel" style="display:none">
              <label for="sourceSelect">Change video source:</label>
              <select id="sourceSelect" style="max-width:400px"></select>
          </div>

          <label>Resultat de la lecture:</label>
          <pre><code id="result"></code></pre>
      </div>

  </div>
</div>

<script type="text/javascript">

</script>
