<% provide(:title, "Conditions d'utilisation") %>
<h1>Conditions d'utilisation</h1>
<br><br><br>
<div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8 lorem-text">
        <h3>Général</h3><br>
        <p class="term-title">Description</p><p class="term-desc">MGSuivi est une solution numérique qui permet de suivre vos colis.</p>
        <p class="term-title">Utilité</p><p class="term-desc">MG Suivi est un outil de traçabilité bienveillante de vos paquets. Il permet aux différents acteurs de vous fournir une visibilité des différentes étapes que passe votre commande.</p>
        <p class="term-title">Fournisseur</p><p class="term-desc">MG Suivi utilise différents services api, serveur ou outils tiers, malgré tous nos efforts, il se peut que ces outils rencontrent des soucis. MG Suivi ne peut être tenu responsable de ces manquements.</p>
        <p class="term-title">Solution en l'état</p><p class="term-desc">L'utilisation de MG Suivi est un service à utiliser tel quel. Il opère en tant que tiers de confiance sur la traçabilité et le suivi de vos commandes.</p>
        <p class="term-title">Cadre</p><p class="term-desc">MG Suivi n'est pas responsable des actions ou des non actions des partenaires. Son rôle sert à reporter le plus proche de la réalité possible l'activité qu'il y a eu sur votre colis. MG Suivi ne peut être amené à rembourser un colis ni à agir en tant qu'arbitre entre le destinataire final et le partenaire.</p>
        <p class="term-title">Nous</p><p class="term-desc">Le terme "nous" utilisé par MG Suivi se rapporte à l'entreprise MG Suivi.</p>
        <p class="term-title">Fonctionnement</p><p class="term-desc">MG Suivi a été optimisé pour le fonctionnement conçu et visibles par les écrans et terminaux sur lequel il apparaît. Tout comportement qui ne serait pas prévu par cette conception altère en partie ou complètement votre suivi. Notre responsabilité ne peut être engagée si l'utilisation décrite ou induite n'est pas respectée.</p>
        <p class="term-title">Mindset</p><p class="term-desc">MG Suivi est un outil d'aide au suivi de l'acheminement de colis. Dans le cadre de l'utilisation pour lequel il a été conçu, il permet de réduire très fortement les problèmes de pertes, d'identification d'un paquet et de reporting client. Par contre il ne peut pas être considéré comme pouvant éradiquer complètement tous les problèmes d'acheminement.</p>
        <p class="term-title">Données</p><p class="term-desc">Les données personnelles sur MG Suivi sont par défaut anonymisées. Par contre, il est évident que pour des besoins de remise de colis, de contrôle d'identité et de responsabilité, il est nécessaire de dévoiler son identité, c'est dans ce cadre là que nous affichons vos informations.</p>
        <p class="term-title">Cookie</p><p class="term-desc">On adore les cookies au chocolat. Les cookies des sites web, on aime moins. Mais malgré tout, nous sommes obligés de les utiliser pour vous fournir le meilleur des services. En utilisant MG Suivi, vous conscentez à utiliser les cookie et à nous partager les informations via ce procédé.</p>

        <p class="term-title">Droit d'accès aux données</p><p class="term-desc">Sur votre demande via notre email de contact, nous pouvons vous fournir toutes les informations que nous possédons qui vous concernent. Sachez que pour des besoin de charge serveur, nous ne conservons pas vos données indéfiniment, les informations que nous vous fournissons seront donc celles en notre connaissance dans nos bases de données au moment où nous générons la requête base de données.</p>
        <p class="term-title">Scope d'utilisation de vos données</p><p class="term-desc">Nous n'utilisons pas vos données à des fins d'identification commerciale pour de la publicité ou de la réclame. Nous ne vous enverrons pas de SPAM et nous ne partagerons pas vos emails à des tiers.</p>

        <p class="term-title">Constat</p><p class="term-desc">Le mindset de MG Suivi est le constat. L'outil reporte qu'il a été constaté qu'un paquet a franchi telle étape. Bien qu'il puisse y aider, il ne peut pas être considéré comme un outil prévisionnel de date de fin.</p>
        <p class="term-title">Utilisation</p><p class="term-desc">MG Suivi ne peut être tenu responsable d'un défaut d'utilisation ou d'une utilisation non prévue de MG Suivi.</p>
        <p class="term-title">Changement</p><p class="term-desc">MG Suivi peut changer ces conditions d'utilisation à tout moment et reste arbitre sur leur période d'application antérieure, présente ou future.</p>
        <p class="term-title">Accord</p><p class="term-desc">L'utilisation de MG Suivi implique automatiquement que vous acceptez les conditions décrites sur cette page.</p>


        <hr>
        <h3>Responsabilité</h3><br>
        <p class="term-title">Perte</p><p class="term-desc">MG Suivi agit comme un third party dans l'acheminement de votre colis. Nous confirmons qu'une référence a bien été tagué à une étape par un partenaire/transporteur. Cette visibilité de suivi se rapporte à la référence qui est fournie. Bien que la bonne logique et l'utilisation de la solution veut que la référence soit attachée au colis, notre responsabilité n'est pas de nous en assurer.</p>
        <p class="term-title">Dommage</p><p class="term-desc">MG Suivi trace une référence, elle ne peut en aucun cas vérifier l'intégrité physique d'un paquet et d'un colis.</p>
        <p class="term-title">Preuve</p><p class="term-desc">La traçabilité de MG Suivi est une aide pour le transporteur et pour le client qui souhaite avoir une meilleure visibilité de l'acheminement de leur colis. Cette traçabilité ne peut pas être considérée comme une preuve ouvrant à des poursuites juridiques.</p>
        <p class="term-title">Identité client</p><p class="term-desc">Dans le cas d'une erreur ou une volonté de cacher sa véritable identité, MG Suivi n'est pas responsable des informations que saisi le client.</p>
        <p class="term-title">Marchandises dangereuses</p><p class="term-desc">Le frêt et l'acheminement de biens répondent à des normes strictes, la responsabilité de savoir si un paquet contient ou non des marchandises qui ne peuvent être acheminés par le canal du frêt en question revient au partenaire/transporteur ET au client responsable de son paquet. En aucun cas, la responsabilité de MG Suivi ne peut être engagée.</p>
        <p class="term-title">Contenu du paquet</p><p class="term-desc">MG Suivi ne peut en aucun cas savoir ce que contient un paquet identifié par une référence. Et ce malgré une description fournie par le client.</p>
        <p class="term-title">Vérification contenu du paquet</p><p class="term-desc">MG Suivi ne peut en aucun cas vérifier ce que contient un paquet identifié par une référence.</p>
        <p class="term-title">Information contenu du paquet</p><p class="term-desc">Les information additionnelles fournies par le client, n'engagent que le client.</p>
        <p class="term-title">Marquage</p><p class="term-desc">Le marquage d'une référence par un partenaire/transporteur n'engage que sa responsabilité. MG Suivi n'est qu'un outil qui permet de tracer et d'enregistrer de manière simple et rapide ces informations qu'il donne.</p>

        <hr>
        <h3>Confidentialité</h3><br>
        <p class="term-title">Activité client</p><p class="term-desc">Votre activité et vos informations sont confidentielles pour nous. Les seuls à y avoir accès sont le partenaire transporteur et MG Suivi. MG Suivi ne partagera jamais ces informations à un tiers.</p>
        <p class="term-title">Activité partenaire</p><p class="term-desc">Votre activité est confidentielle et ne sera jamais divulguée à des tiers. Les seuls à avoir accès sont nous et votre équipe - en fonction des droits d'accès que vous avez décidé.</p>
        <p class="term-title">Autorisation de citer</p><p class="term-desc">Si vous êtes partenaire transporteur de MG Suivi, vous autorisez MG Suivi à communiquer sur votre partenariat et vous acceptez que MG Suivi utilise votre logo en ce sens. De même vous pouvez faire savoir à vos clients que vous utilisez MG Suivi et utiliser notre logo dans ce but.</p>
        <p class="term-title">Back office partenaire</p><p class="term-desc">En tant que partenaire, vous devez respecter la confidentialité du fonctionnement de MG Suivi. Sans notre accord, vous ne <strong>pouvez pas divulguer</strong> le comportement, les écrans (inclus copie d'écran) et plus généralement la partie back office à des tiers. La structure est confidentielle et ne doit être accessible que par vous et votre équipe uniquement. Si elle est avérée, la rupture de cette clause vaut rupture de partenariat.</p>
        <p class="term-title">Charge de rétention</p><p class="term-desc">MG Suivi n'a pas grand intérêt à conserver les données de votre activité. Pour des raisons de charge serveur, nous devons supprimer vos suivis qui sont arrivés au stade "terminés" c'est à dire qui ont été remis en bonne et due forme.</p>

        <hr>
        <h3>Technique</h3><br>
        <p class="term-title">Partie tiers</p><p class="term-desc">MG Suivi utilises des services tiers pour son bon fonctionnement. Bien que nous mettons tout en oeuvre pour régler les problèmes et les anticiper, nous ne sommes pas responsables de la défaillance ni des manques liés à leur prestation.</p>
        <p class="term-title">Sécurité</p><p class="term-desc">MG Suivi est fourni avec un très grand nombre de sécurités techniques pour une certaine sérenité du client (certificat SSL, CSFR etc). En dépit de toutes ces protections et de cette volonté, la solution n'est pas à l'abri d'une faille malveillante active ou passive.</p>
        <hr>
        <h3>Alpha test</h3><br>
        <p class="term-title">Performance</p><p class="term-desc">MG Suivi est installé dans le cloud avec une puissance scalable (i.e sa force peut être augmentée en fonction du besoin). Il est possible que nous mettions du temps à identifier quelle partie nécessite d'être plus investie que d'autres. Si une lenteur innatendue apparaît, MG Suivi ne peut être tenu responsable des conséquences induites, nous sommes en sommes désolés et veuillez nous en informer.</p>
        <p class="term-title">Limite</p><p class="term-desc">MG Suivi en alpha test utilisateur est limité à 7000 suivis pour tous les testers. Si vous êtes un utilisateur A et que nous avons également un utilisateur B, le maximum que peuvent créer A et B est de 7000. Cette limite est une soft limit i.e elle est dépassable dans l'immédiat et nous avons 5 jours pour supprimer les suivis en plus.</p>
        <p class="term-title">Activité</p><p class="term-desc">En alpha test, l'utilisation est limitée à 500 heures par mois.</p>

        <hr>
        <h3>Test pilote privé</h3><br>
        <p class="term-title">Performance</p><p class="term-desc">MG Suivi est installé dans le cloud avec une puissance scalable (i.e sa force peut être augmentée en fonction du besoin). Il est possible que nous mettions du temps à identifier quelle partie nécessite d'être plus investie que d'autres. Si une lenteur innatendue apparaît, MG Suivi ne peut être tenu responsable des conséquences induites, nous sommes en sommes désolés et veuillez nous en informer.</p>
        <p class="term-title">Limite</p><p class="term-desc">MG Suivi en béta test utilisateur est limité à 7000 suivis pour tous les testers. Si vous êtes un utilisateur A et que nous avons également un utilisateur B, le maximum que peuvent créer A et B est de 7000. Cette limite est une soft limit i.e elle est dépassable dans l'immédiat et nous avons 5 jours pour supprimer les suivis en plus.</p>
        <p class="term-title">Responsabilité client</p><p class="term-desc">Bien que MG Suivi est totalement disponible pour répondre aux questions des clients finaux, il revient à l'entreprise testeur de faire savoir aux clients finaux qu'ils sont des clients pilotes et qu'ils sont en phase de beta test.</p>

    </div>
    <div class="col-lg-2">
    </div>
</div>
