<% provide(:title, "Wake up Certif") %>
<div id="mg-graph-identifier">wakeupcertif-gr</div>



<div class="row">
  <div class="col-lg-4 pos-center img-ill">
    <%= image_tag("refCertif400.png", alt: "Partner", width: "250", id: "logo-certif")%>
  </div>
  <div class="col-lg-8">
    <div class="pn-title-et">RAKOTOARINIA Tsiky</div>
    Diplôme obtenu <i class="fas fa-check-circle" style="color:green;"></i><br>
    Promotion : 2022<br>
    Cursus : Marketing International<br>
    Mention : Très bien<br>
  </div>
</div>


<hr>
<div class="row">
  <div class="col-lg-6 pos-center top-text-pc">

    <canvas id="myChart2">
    </canvas>

  </div>
  <div class="col-lg-6">
    <br><br>
    Stage de fin d'étude : BFV Société Générale<br>
    Stage M1 : Axian<br>
    Score TOEIC: 910<br>
    Appréciation des professeurs : Tsiky est une étudiante motivée et curieuse. Elle a soif d'apprendre.<br>

  </div>
  <div class="col-lg-6 pos-center top-text-pc">

    <canvas id="myChart3">
    </canvas>

  </div>
  <div class="col-lg-6 pos-center top-text-pc">

    <canvas id="myChart">
    </canvas>

  </div>
</div>
