<% provide(:title, "Utiliser MGSuivi") %>
<h1>Avantages de MG Suivi</h1>
<hr>
<div class="row">
  <div class="col-lg-12 pos-center top-text-pc">
    Commander à distance a toujours été une source de stress.<br>
    Maintenant, depuis <i class="icon-rova5"></i> Madagascar, vous pouvez suivre vos colis.<br>
    Pour vous aider MG Suivi a été développé autour de trois axes
  </div>
</div>

<div class="row pc-big-block pos-center">
    <div class="col-lg-4 bg-pc-gen bg-pc-free">
      <%= image_tag("eye800.png", alt: "MGSuivi global", width: "125")%>
      <div class="title-pc">Plus global</div>


      <hr>
      <div class="note-det-pc pos-center">
        Vous avez des écrans de données synthétisées pour savoir en un coup d'oeil où sont vos paquets.
      </div>
    </div>
    <div class="col-lg-4 bg-pc-gen bg-pc">
      <%= image_tag("arrow800.png", alt: "MGSuivi direct", width: "125")%>
      <div class="title-pc">Plus direct</div>


      <hr>
      <div class="note-det-pc pos-center">
          L'information est centralisée. Ne perdez plus de temps à retrouver vos messages Facebook, Whatsapp ou Viber.
      </div>
    </div>
    <div class="col-lg-4 bg-pc-gen bg-pc-ab">
      <%= image_tag("shield800.png", alt: "MGSuivi fiable", width: "125")%>
      <div class="title-pc">Plus fiable</div>


      <hr>
      <div class="note-det-pc pos-center">
          Vous avez des références uniques et un marquage numérisé. Le risque d'erreur humaine est fortement réduit.
      </div>
    </div>
</div>

<div class="row">
  <div class="col-lg-12 pos-center top-text-pc">
    Ne perdez plus de temps, créez votre compte !
  </div>
</div>

<div class="row">

    <div class="col-lg-8 mgs-author-right">
      <a href='https://fr.freepik.com/photos-vecteurs-libre/logo'>Source des images fr.freepik.com</a>
    </div>
    <div class="col-lg-4">
    </div>
</div>
