<div class="row">
    <div class="col-lg-12 company-mini-block">
      Partenaire: <i id="part-tech-name"><%= @resultSetCompany[0][1].to_s %></i>
      <span id="cur-part-id" class="hid-display"><%= @resultSetCompany[0][0].to_s %></span>
      <span id="hdl_price-su" class="hid-display"><%= @resultSetCompany[0][6].to_s %></span>
    </div>
</div>
