<% provide(:title, "Manager") %>
<div id="mg-graph-identifier">pardash-gr</div>
<%= render 'partner/partnerutils' %>
<% if @resultSet.nil? %>
	//Error
  <script>
    var dataTagToJsonArray = "";
  </script>
<% else %>
  <script>
    var dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    var dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
<% end %>

<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
</style>

<div class="row">
  <div class="col-lg-12">
    <h1>Manager</h1>
  </div>
</div>
<div class="mgs-note mgs-note-mrg-grid">
  Cet écran est optimisé pour une utilisation ordinateur ou tablette.
</div>
<% if @emptyResultSet %>
  <div class="col-sm-12 no-data">
    Désolé, nous n'avons pas trouvé de code barre &nbsp; <i class="glyphicon glyphicon-inbox"></i>
  </div>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <div id="jsGrid">
    </div>
  </div>
</div>
