<% provide(:title, "Manager") %>
<div id="mg-graph-identifier">pardash-gr</div>
<%= render 'partner/partnerutils' %>
<% if @resultSet.nil? %>
	//Error
  <script>
    var dataTagToJsonArray = "";
  </script>
<% else %>
  <script>
    var dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    var dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
<% end %>
<%= render 'layouts/dirtycsv' %>

<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
</style>

<div class="row mgs-title">
  <div class="col-lg-12">
    <h1>Manager</h1>
  </div>
</div>
<div class="mgs-note mgs-note-mrg-grid">
  Cet écran est optimisé pour une utilisation ordinateur ou tablette.
</div>
<% if @emptyResultSet %>
  <div class="col-sm-12 no-data">
    Désolé, nous n'avons pas trouvé de code barre &nbsp; <i class="glyphicon glyphicon-inbox"></i>
  </div>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <div id="jsGrid">
    </div>
  </div>
</div>
<br><br>
<div class="row">
	<div class="col-lg-3">
	</div>
	<div class="col-lg-3">
	</div>
	<div class="col-lg-3">
	</div>
	<div class="col-lg-3">
			<button id="mgs-dash-print-csv" class="btn btn-default-light btn-md btn-block">Exporter CSV &nbsp; <i class="glyphicon glyphicon-th"></i>
			</button>
	</div>
	<div class="col-sm-12 mgs-med-note">
		<hr>
		Le symbole&nbsp; <i class="c-w glyphicon glyphicon-home"></i> &nbsp;indique que le paquet est une réception. Il doit être livré au local transporteur.<br>
		Le symbole&nbsp; <i class="c-b glyphicon glyphicon-arrow-up"></i> &nbsp;indique que le paquet est un enlèvement. Le transporteur ira l'enlever à l'adresse indiquée.<br>
	</div>
</div>

<div class="row">
  <div class="col-lg-3">
	</div>
  <div class="col-lg-6">
      <form action="/onebarcodemng" method="post" id="mg-checkbc-form">
        <input type="submit" name="formSubmit" class="btn btn-default btn-lg btn-block" id="mg-check-step-btn"
                value="Vérifier"/>

        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <textarea class="form-control step-hid" rows="1" id="read-cb-id" name="checkcbid" placeholder="code barre id" style="resize: none;"></textarea>
        <textarea class="form-control step-hid" rows="1" id="read-cb-sec" name="checkcbsec" placeholder="code barre sec" style="resize: none;"></textarea>
      </form>
  </div>
  <div class="col-lg-3">
  </div>
</div>
