<% provide(:title, "Statistiques") %>
<%= render 'partner/partnerutils' %>
<h1>Statistiques</h1>
<div id="mg-graph-identifier">parmstat-gr</div>
<% if @resultSet.nil? %>
	//Error
  <script>
    var dataTagToJsonArray = "";
  </script>
<% else %>
  <script>
    var dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    var dataTagToJsonArray = JSON.parse(dataTagToJson);

		var dataTagClientToJson = '<%= @resultSetClient.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    dataTagClientToJson = dataTagClientToJson.replace(/&quot;/g,"\"");
    var dataTagClientToJsonArray = JSON.parse(dataTagClientToJson);

  </script>
<% end %>

<div class="row">
    <div class="col-lg-6">
			<div class="center">Volume</div>
			<hr>
      <canvas id="statClientCv"></canvas>
    </div>
    <div class="col-lg-6">
			<div class="center">Répartition des status</div>
			<hr>
			<canvas id="statStatCv"></canvas>
    </div>
</div>
