<%# I am a not a partner not in mobile %>
<li class="nav-item"><%= link_to getmypartnerlist_path, class: "nav-link" do %><i class="fas fa-plus-square"></i>&nbsp;Créer un suivi<% end %></li>
<li class="nav-item navzebra"><%= link_to "Mes suivis", persoreseldash_path, class: "nav-link" %></li>
