<li class="nav-item"><%= link_to "Pourquoi utiliser MG Suivi", why_path, class: "nav-link" %></li>
<%= link_to features_path, class: "dropdown-item" do %><i class="fas fa-bolt"></i>&nbsp;Les fonctionnalités<% end %>
<li class="nav-item"><%= link_to "Utiliser MGSuivi", howtouse_path, class: "nav-link" %></li>
<li class="nav-item"><%= link_to "Devenir partenaire", letsbepartners_path, class: "nav-link" %></li>
