<div class="mgs-returnmsg">
  <span class="badge badge-primary-medium">&nbsp;<%= @returnmessage %>&nbsp;</span>

</div>
<p>
  <div class="mgs-note mgs-note-top">
    L'incident suivant a bien été pris en compte.
  </div>

  <div class="mgs-info-big">
    <%= @comment %>
  </div>
  <hr>
  <div class="mgs-note mgs-note-top">
    Notez que si un incident existe déjà, votre sera simplement ignoré.
  </div>
</p>
