<div class="mgs-returnmsg">
  <span class="badge badge-primary-medium">&nbsp;<%= @returnmessage %>&nbsp;</span>

</div>
<p>
  <div class="mgs-note mgs-note-top">
    L'étape suivante a été enregistrée
  </div>

  <div class="mgs-info-big">
    <%= @steptxt %>
    <% unless (@stepweight.nil?) || (@stepweight == '') || (@stepweight.to_i == 0) %>
    <div class="mgs-note mgs-note-top">
      Poids
    </div>
    <div class="mgs-info">
      <%= @stepweight.to_i %> grammes.
    </div>
    <% end %>
  </div>

  <div class="mgs-note mgs-note-top">
    Localisation
  </div>

  <div class="mgs-info">
    <% if @stepgeol == 'N' %>
      Localisation indisponible ou refusée.
    <% else %>
      <%= @stepgeol %>
    <% end %>
  </div>


</p>
