<div class="mgs-returnmsg">
  <span class="badge badge-primary-medium">&nbsp;<%= @returnmessage %>&nbsp;</span>

</div>
<p>
  <div class="mgs-note mgs-note-top">
    La mise à jour suivante a bien été prise en compte.
  </div>

  <div class="mgs-info-big">
    <%= @comment %>
  </div>
  <hr>
</p>
