<% provide(:title, "Scan") %>
<div id="mgs-main-cam">
  <div id="mg-graph-identifier">readbc</div>
  <div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">
        <p class="mgs-note">
        Vous pouvez scanner ici les codes barres liés à MG Suivi pour enregistrer une étape du processus ou obtenir plus d'informations.
        </p>
    </div>
    <div class="col-lg-3">
    </div>
  </div>
  <div>
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6" id="demo-content">

            <div>
              <div class="mgs-bg-scan col-sm-12">
                <button id="startButton" type="button" class="btn btn-lg btn-block btn-default">
                  Scanner &nbsp; <i class="glyphicon glyphicon-barcode"></i>
                </button>
              </div>

              <div class="mgs-bg-scan col-sm-12">
                <button id="resetButton" type="button" class="btn btn-sm btn-block btn-default">
                  Stopper la Caméra &nbsp; <i class="glyphicon glyphicon-remove-circle"></i>
                </button>
              </div>
            </div>

            <br><br>
            <div class="col-lg-12 mgs-cam">

            <video id="video" width="275" height="275" style="background-color: #C6B2D8">
            </video>


            </div>



            <div class="mgs-bg-scan col-sm-12 mgs-cam">
              <%-# Button trigger modal -%>
              <button id="switchCam" type="button" class="btn btn-sm btn-default">
                Changer de Caméra &nbsp; <i class="glyphicon glyphicon-camera"></i>
              </button>
            </div>

            <label>Resultat de la lecture:</label>
            <pre><code id="result"></code></pre>
        </div>

        <div class="col-lg-3">
        </div>
    </div>
  </div>
</div>
<hr>
<div id="mgs-save-step">
  <div class="row">
    <div class="col-lg-3">

    </div>
    <div class="col-lg-6">
        <div class="mgs-note">
          Code barre lu
        </div>
        <div class="mgs-read-bc">
          <p id="readBC" class="big-BC">
            MGXXXXUUUUTTTPPW
          </p>
        </div>
        <form action="/save_step" method="post">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Étape à enregistrer</label>
            <select name="stepstep" class="custom-select custom-select-lg mb-3" id="exampleFormControlSelect1">
              <option value="Réception">Réception</option>
              <option value="Enlèvement">Enlèvement</option>
              <option value="Dépôt Stock">Dépôt Stock</option>
              <option value="Prêt départ/CDG">Prêt départ/CDG</option>
              <option value="Prêt départ/Orly">Prêt départ/Orly</option>
              <option value="Arrivée/Tana">Arrivée/Tana</option>
              <option value="Disponible pour le Client">Disponible pour le Client</option>
            </select>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="stepcomment" placeholder="Commentaire" id="exampleFormControlTextarea1" rows="3" style="resize: none;"></textarea>
          </div>


          <input type="submit" name="formSubmit" class="btn btn-default btn-lg btn-block" id="mg-save-step-btn"
                  value="Enregistrer une étape"/>
                  
          <textarea class="form-control step-hid" rows="1" id="step-cb" name="stepcb" placeholder="code barre" style="resize: none;"></textarea>
          <textarea class="form-control step-hid" rows="1" id="step-geol" name="stepgeol" placeholder="geolocalization" style="resize: none;"></textarea>



        </form>
    </div>
    <div class="col-lg-3">
    </div>
  </div>
</div>
