<% provide(:title, "Check") %>
<div id="mg-graph-identifier">checktag-gr</div>
<style>
	@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
</style>
<% if @resultSet.nil? %>
	//Error
<% else %>
  <script>
    var dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    var dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
<% end %>
<div>
  <div class="row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">
			<div class="mgs-note">
				Code barre lu
			</div>
			<div class="mgs-read-bc">
				<p id="readBC" class="monosp-ft-subtitle">
					<%= @cbToCheck.to_s %>
				</p>
			</div>

      <div id="block-of-tag">
      </div>


			

			<div class="pos-center blc-cancel">
				<a href="/" id="btn-cnl-nstp" class="btn btn-default-light btn-md btn-block">Retour</a>
			</div>
			<div id="no-found-bc" class="col-lg-12 pos-center img-ill">
				<%= image_tag("map404400x400.png", alt: "Rails logo", width: "150") %>
			</div>
    </div>
    <div class="col-lg-4">
    </div>
  </div>
</div>
