<% provide(:title, "Étape") %>
<div id="mg-graph-identifier">stepsaved</div>


<div class="row">
  <div class="col-lg-3">
  </div>
  <div class="col-lg-6">
    <div class="mgs-read-bc">
      <p id="readBC" class="big-BC">
        <%= @stepcb %>
      </p>
    </div>
    <% if @incidentDeclared == 'N' %>
        <%= render 'barcode/resultsavestepnoincident' %>
    <% else %>
        <%= render 'barcode/resultsavestepwithincident' %>
    <% end %>
  </div>
  <div class="col-lg-3">
  </div>
</div>
