<% provide(:title, "Client Manager") %>
<div id="mg-graph-identifier">cltmng-gr</div>
<%= render 'partner/partnerutils' %>
<% if @resultSet.nil? %>
	//Error
  <script>
    var dataTagToJsonArray = "";
  </script>
<% else %>
  <script>
    var dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    var dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <h1>Client.e.s</h1>
  </div>
</div>

<%= render 'layouts/dashboarddialog' %>
<input id="auth-token-s" type="hidden" name="authenticity_token" value="<%= @getAuthToken %>">

<div class="mgs-note mgs-note-mrg-grid">
  Cet écran est optimisé pour une utilisation ordinateur ou tablette.
</div>
<% if @emptyResultSet %>
  <div class="col-sm-12 no-data">
    Désolé, vous n'avez pas encore de client &nbsp; <i class="glyphicon glyphicon-inbox"></i>
  </div>
<% end %>

<% if !@emptyResultSet %>
	<div class="row">
	  <div class="col-sm-12">
	    <div id="jsGrid">
	    </div>
	  </div>
	</div>
	<br><br>
	<div class="row">
	  <div class="col-lg-3">
	  </div>
		<div class="col-lg-3">
	  </div>
		<div class="col-lg-3">
	  </div>
		<div class="col-lg-3">
				<button id="mgs-print-csv" class="btn btn-default-light btn-md btn-block">Exporter CSV &nbsp; <i class="glyphicon glyphicon-th"></i>
				</button>
	  </div>
		<div class="col-sm-12 mgs-med-note">
			<hr>
			La colonne&nbsp; <i class="glyphicon glyphicon-list-alt"></i> &nbsp;indique le nombre de code barre pour ce client actuellement.<br>
			La colonne&nbsp; <i class="glyphicon glyphicon-duplicate"></i> &nbsp;indique si le client a le pouvoir de création, c'est à dire si vous l'avez authorisé à créer lui-même des codes barres.
		</div>
	</div>
<% end %>
