<% provide(:title, "Client Manager") %>
<h1>Clients</h1>
<div id="mg-graph-identifier">cltmng-gr</div>
<%= render 'partner/partnerutils' %>
<div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">
      
    </div>
    <div class="col-lg-3">
    </div>
</div>
