<% provide(:title, "Non résolu") %>
<div class="row">
    <div class="col-lg-12 pos-center img-ill">
      <%= image_tag("map404400x400.png", alt: "Rails logo", width: "150") %>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4 lorem-text">
        <p>
          <strong>Navré</strong>, le site a renvoyé une erreur.
          Si vous considérez que vous devriez pouvoir accéder, nous vous prions de contacter notre support avec le code erreur ERR422 et en nous décrivant précisément les actions que vous avez effectué.
        </p>
    </div>
    <div class="col-lg-4">
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4 mgs-author-right">
      <a href='https://fr.freepik.com/photos-vecteurs-libre/millesime'>L'image affichée est issue de Freepik</a>
    </div>
    <div class="col-lg-4">
    </div>
</div>
