<% provide(:title, "Result association") %>
<div id="mg-graph-identifier">grpfinassoc-gr</div>
<style>
	@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
</style>
<script>

  var dataTagToJsonPure = "<%= @list_pure_array.inspect %>".replace(/&quot;/g,"\"").replace(/=&gt;/g, ":");
  var dataTagToJsonArrayPure = JSON.parse(dataTagToJsonPure);

  var dataTagToJsonExt = "<%= @list_ext_array.inspect %>".replace(/&quot;/g,"\"").replace(/=&gt;/g, ":");
  var dataTagToJsonArrayExt = JSON.parse(dataTagToJsonExt);

  var dataTagToJsonMother = "<%= @list_mother_array.inspect %>".replace(/&quot;/g,"\"").replace(/=&gt;/g, ":");
  var dataTagToJsonArrayMother = JSON.parse(dataTagToJsonMother);

  var dataTagToJsonMotherRaw = "<%= @list_mother_array_raw.inspect %>".replace(/&quot;/g,"\"").replace(/=&gt;/g, ":");
  var dataTagToJsonArrayMotherRaw = JSON.parse(dataTagToJsonMotherRaw);

</script>

<div id="mgs-readbc-bottom">
  <div class="row">
    <div class="col-lg-3">

    </div>
    <div class="col-lg-6">
        <div class="mgs-headq">
          <i class="fas fa-cubes"></i>&nbsp;Associé avec succés !
        </div>
        <div class="mgs-note">
          Les <span class="grp-read-nb"></span> codes barres suivants ont été correctement associé
        </div>
        <div id="list-of-read-bc">
        </div>
        <div>
        </div>
        <hr>
        <div class="mgs-note">
          Référence MOTHER
        </div>
        <div id="list-of-mother-one" class="monosp-ft-subtitle">
        </div>

        <br><br><br>
        <div class="pos-center blc-cancel">
          <a href="/grpgetnext" id="btn-groupe" class="btn btn-default btn-md btn-block"><i class="fas fa-layer-group"></i>&nbsp;Grouper autre</a>
        </div>
        <div class="pos-center blc-cancel">
          <a href="/" id="btn-cnl-nstp" class="btn btn-default-light btn-sm btn-block">Retour</a>
        </div>


    </div>
    <div class="col-lg-3">
    </div>
  </div>
</div>
