@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

$main-color: #300055;
$main-color-light: #F9F5FA;
$main-color-medium: #6D5D7C;
$main-color-light-contrast: #D6CADD;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* Bootstrap */

.btn-default{
   color: white;
   background-color:$main-color;
   border-color:#130022;
 }
.btn.btn-default:hover,
.btn.btn-default:focus,
.btn.btn-default:active,
.btn.btn-default.active {
    color: #45007B;
}

.btn-default-light{
   color: $main-color;
   background-color:$main-color-light;
   border-color:#130022;
 }
.btn.btn-default-light:hover,
.btn.btn-default-light:focus,
.btn.btn-default-light:active,
.btn.btn-default-light.active {
    color: #45007B;
    background-color: $main-color-light-contrast;
}

.badge-btn-primary {
  background-color: $main-color;
}
.badge-btn-primary:hover,
.badge-btn-primary:focus,
.badge-btn-primary:active,
.badge-btn-primary.active {
    background-color: #9421BC;
}

.badge-primary {
  background-color: $main-color;
}

.badge-primary-medium{
  background-color: $main-color-medium;
}

.badge-primary-light {
  background-color: $main-color-light;
}

/* Bootstrap review */


/* Company block */
.company-mini-block{
  font-size: 0.8em;
  color: $main-color;
  text-align: left;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* Image */
.img-ill{
  margin-top: 2em;
  margin-bottom: 3em;
}

.mgs-author-right{
  font-size: 0.6em;
  margin-top: 2em;
}

/* Alerting */

#alerting{
  display: none;
}

#mg-graph-identifier{
  visibility: hidden;
}

#mg-subgraph-identifier{
  visibility: hidden;
}

.mgs-title{
  margin-bottom: 50px;
}

/* columnt Partner */
.hd-col{
  font-size: 1.3em;
  font-weight: bold;
  background-color: #EED9FF;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.mg-bg-odd{
  background-color: #F7F7F7;
}


#no-found-bc{
  display: none;
}


.grid-right{
  text-align: right;
}

.mgs-note-mrg-grid{
  margin-bottom: 0.5em;
}

.row-mg{
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.row-size{
  font-size: 0.9em;
}

.no-data{
  margin-top: 7em;
  text-align: center;
  font-size: 1.3em;
  color: #FF7777;
  min-height: 300px;
}

.grid-contener{
  margin-top: 2.8em;
}

.monosp-ft{
  font-family: "Roboto Mono","Lucida Console", "Andale Mono", Courier, Monaco;
  font-size: 1.1em;
  color: #3E009E;
}

.monosp-ft-xs{
  font-family: "Roboto Mono","Lucida Console", "Andale Mono", Courier, Monaco;
  font-size: 0.8em;
  color: #3E009E;
}

.monosp-ft-title{
  font-family: "Roboto Mono","Lucida Console", "Andale Mono", Courier, Monaco;
  font-size: 4.2em;
  color: $main-color;
  text-align: center;
}

.monosp-ft-subtitle{
  font-family: "Roboto Mono","Lucida Console", "Andale Mono", Courier, Monaco;
  font-size: 2.5em;
  color: $main-color;
  text-align: center;
}

.mgs-red{
  color: #9B0000;
}

#id-seeone{
  display: none;
}

#sec-seeone{
  display: none;
}

#mgs-dialog{
}

#mgs-dialog-feedback{

}

.mgs-dialog-big-block{
  display: none;
  margin-top: 30px;
  margin-bottom: 40px;
}

.mgs-dialog-window{
  background-color: #F9F5FA;
  padding-top: 10px;
  min-height: 90px;
  font-size: 1.2em;
  text-align: center;
}

.mgs-dialog-fdb-success{
  background-color: #DFF6E6;
}

.mgs-dialog-fdb-success:hover{
  background-color: #FBFBFB;
}

.mgs-dialog-fdb-error{
  background-color: #FDE8E8;
}

.mgs-dialog-fdb-error:hover{
  background-color: #FBFBFB;
}

.mgs-dialog-window-fdb{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.2em;
  text-align: center;
}

.dialog-btn{
  margin-top: 20px;
  margin-bottom: 30px;
}

.diag-btn{
  margin-top: 10px;
}

.hid-display{
  display: none;
}


/* Loading */
// We do here the loading part
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}


/* jsGrid */

#jsGrid{
  height: 600px;
}

.h-jsG-r{
  text-align: right !important;
}

.h-jsG-l{
  text-align: left !important;
}

/* Print 12 */
.img-center{
  text-align: center;
}

.bc-block-print{
  margin-bottom: 2em;
}

.bc-block-print-note{
  font-size: 0.7em;
  margin-top: 1.2em;
}

.btn-print{
  text-align: center;
  margin-bottom: 2em;
}

.btn-print-top{
  text-align: center;
  margin-bottom: 0.5em;
}

.mgs-headq{
  font-size: 1.2em;
  color: $main-color;
  margin-bottom: 0.2em;
}

.mgs-heada{
  font-size: 0.9em;
  color: $main-color-medium;
  text-align: justify;
}
/* Camera */
.mgs-cam{
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
}

.mg-color{
  color: $main-color;
}

.mgs-bg-scan{
  margin-bottom: 1em;
}

.load-cam-con{
  margin-top: 1em;
  margin-bottom: 1em;
}

.lbl-opt{
  font-size: 1.2em;
}

.mgs-read-bc{
  margin-bottom: 2em;
}

.mgs-note{
  text-align: justify;
  color: #b3b3b3;
  font-size: 0.8em;
}

.mgs-med-note{
  text-align: justify;
  color: #b3b3b3;
  font-size: 0.9em;
  margin-top: 15px;
  margin-bottom: 10px;
}

.mgs-med-note-imp{
  text-align: justify;
  color: #9B0000;
  font-size: 0.9em;
  margin-top: 15px;
  margin-bottom: 10px;
}

.t-of-use{
  margin-bottom: 15px;
}

.ctr-ck-grp{
  color: #B17FFF;
}

.crt-block{
  color: #CBCBCB;
  font-size: 1.5em;
  margin-top: 20px;
  font-weight: bold;
  border-bottom: 0.5px solid #CBCBCB;
}

.crt-block-input{
  color: $main-color;
  background-color: $main-color-light;
  font-size: 1.2em;
  margin-top: 20px;
  font-weight: bold;
  border-bottom: 0.5px solid $main-color;
}

.cancel-btn{
  margin-top: 15px;
}

.sess-block{
  margin-top: 3em;
}

.usr-block{
  margin-top: 8em;
  margin-bottom: 3em;
}

.field-big{
  color: $main-color;
  font-size: 2.5em;
  margin-bottom: 1em;
}

.field-md{
  color: $main-color-medium;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.field-sm{
  color: $main-color-medium;
  font-size: 0.8em;
  margin-bottom: 1em;
}

#readBC{
  text-align: center;
}

#mg-check-step-btn{
  visibility: hidden;
}

.step-hid{
  visibility: hidden;
}

.big-BC {
  font-size: 2.2em;
  color: $main-color;
}

.mgs-note-top{
  margin-top: 1.5em;
}

.mgs-info{
  font-size: 1.3em;
  color: $main-color-medium;
}

.mgs-info-big{
  font-size: 1.9em;
  color: $main-color-medium;
  margin-bottom: 1em;
}

.mgs-returnmsg{
  font-size: 0.8em;
  color: $main-color;
}



/* Manual Cam */
.manual-el{
  margin-top: 3em;
}

#mgs-manual-cam{
  display: none;
}

/* HOME */
.mgs-homeq{
  text-align: justify;
  font-size: 0.9em;
  padding-left: 15px;
  padding-right: 15px;
}

.pos-center{
  text-align: center;
}

.pos-left{
  text-align: left;
}

.text-sub-search{
  margin-top: 5em;
}

.mg-verify-logo{
  margin-top: 5em;
  margin-bottom: 8em;
}

#home-search{
  margin-bottom: 15em;
}


/*  Pricing */

.title-pc{
  font-size: 2.5em;
  margin-bottom: 1em;
  margin-top: 0.7em;
  font-family: Georgia, arial;
  color: #290064;
}

.subtitle-pc{
  font-size: 0.9em;
  padding-bottom: 1.5em;
  border-bottom: 0.5px solid gray;
  margin-bottom: 1.5em;
}

.note-det-pc{
  font-size: 1em;
  margin-top: 3em;
  margin-bottom: 0.5em;
  text-align: center;

}

.note-pc{
  font-size: 0.8em;
  margin-top: 3em;
  margin-bottom: 0.5em;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
.price-pc{
  font-size: 1.8em;
  margin-bottom: 0.5em;
  color: $main-color;
}

.bg-pc-gen{
  border: 7px solid white;
  min-height: 430px;
}

.bg-pc{
  background-color: #D8D0EC;
}


.bg-pc-ab{
  background-color: #D0D4EC;
}

.bg-pc-free{
  background-color: #D0ECD2;
}

.pc-big-block{
  margin-top: 4em;
}

.bottom-text{
  font-size: 1em;
  margin-top: 1.5em;
  color: $main-color;

}

.top-text-pc{
  font-size: 1.3em;
  margin-top: 1.5em;
  color: $main-color;

}

/* Lorem */
.lorem-text{
  text-align: justify;
}
/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 3em;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
@media (max-width: 800px) {
  footer {
    small {
      display: block;
      float: none;
      margin-bottom: 1em;
    }
    ul {
      float: none;
      padding: 0;
      li {
        float: none;
        margin-left: 0;
      }
    }
  }
}

/* cancel block */
.blc-cancel{
  margin-top: 2em;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
