
/* Nav bar */
.navbar-inverse{
  background-color: #F9F5FA;
  border-color: #F9F5FA;
}

// Link in menu
.navbar-inverse .navbar-nav > li > a{
  font-size: 1.1em;
  color: #727272;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #4C045E;
  background-color: transparent;
}

.navbar-toggle{
  background-color: #C6B2D8;
}


// This is the current bootstrap triggering hamburger menu
@media (max-width:768px){
  .navbar-collapse{
    padding-top: 10px;
    padding-left: 0px;
  }
  .navbar-nav{
    float: left;
    font-size: 18px;
    width: 100%;
  }
}



.navbar-nav{
  float: right;
}

.navzebra {
  background-color: #EDEDED;
}
