<div class="row" id="displayworkflow">
  <div class="col-sm-12 center" id="el-wf-1">
    <span class="badge badge-default-light">Début du suivi</span>
    <span id="disp-step">
    <span class="badge badge-primary">Étape bla bla</span>
    </span>
    <span class="badge badge-default-light">Paquet entre vos mains</span>
  </div>
</div>
<hr>
