<hr>
<div id="mg-subgraph-identifier">pereonepk-gr</div>
<div class="crt-block">Enlèvement <i class="c-b glyphicon glyphicon-open"></i></div>
<div class="t-of-use mgs-med-note-imp">
  Ce colis est indiqué comme étant un enlèvement. Si ça n'est pas le cas, veuillez contacter le transporteur<br>
  <strong>Les informations suivantes sont obligatoires&nbsp;<i class="glyphicon glyphicon-warning-sign"></i></strong>
</div>
<br>
<label>Nom du contact enlèvement</label>&nbsp;<span id="ck-mg-add-pk-name" class="ctr-ck-grp">(obligatoire)</span>
<textarea class="form-control crt-fill-form" rows="1" id="mg-add-pk-name" name="mgaddpknm" placeholder="Nom de la personne à contacter (min 5 car)" style="resize: none;"></textarea>
<label>Téléphone du contact enlèvement</label>&nbsp;<span id="ck-mg-add-pk-phone" class="ctr-ck-grp">(obligatoire)</span>
<textarea class="form-control crt-fill-form" rows="1" id="mg-add-pk-phone" name="mgaddpkph" placeholder="Téléphone de la personne à contacter" style="resize: none;"></textarea>
<br>
<div class="t-of-use mgs-med-note-imp">
  En plus de l'adresse vous pouvez donner le maximum d'information dans le champs suivant : code porte, étage, porte, horaires de disponibilité, repère.<br>
</div>
<label>Adresse enlèvement</label>&nbsp;<span id="ck-mg-add-pk-add" class="ctr-ck-grp">(obligatoire)</span>
<textarea class="form-control crt-fill-form" rows="3" id="mg-add-pk-add" name="mgaddpkadd" placeholder="Adresse & notes (min 10 car)" style="resize: none;"></textarea>
