<!-- Modal -->
<div class="modal fade" id="mgs-dialog-pickup-info" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog mgs-dialog-blc" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-exclamation-triangle"></i>&nbsp;Enlèvement</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">

              <%# Text message goes here %>
              <%= render 'persoresel/content_wfrtopickup' %>

        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
</div>
