<% provide(:title, "Manager") %>
<div id="mg-graph-identifier">peredash-gr</div>
<% if @resultSet.nil? %>
	//Error
  <script>
    var dataTagToJsonArray = "";
  </script>
<% else %>
  <script>
    var dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    var dataTagToJsonArray = JSON.parse(dataTagToJson);
		var filteredDataTagToJsonArray = new Array();
  </script>
<% end %>
<%= render 'layouts/dirtycsv' %>
<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
</style>


<div class="row mgs-title">
  <div class="col-lg-12">
    <h1>Mes suivis</h1>
  </div>
</div>


<%-# We display the filter only if there is data to filter -%>
<% unless @emptyResultSet %>
		<div class="row filter-banner" id="filter-block">


			<div class="col-sm-2 fil-el-txt">
				&nbsp;<span><i id='nb-el-dash'>0</i>&nbsp;trouvé(s)</span>
			</div>
			<div class="col-sm-6">
		  </div>

			<div class="col-sm-3 fil-el">
				<textarea class="form-control" rows="1" id="filter-all" placeholder="Filtrez min. 3 caractères" style="resize: none;"></textarea>
		  </div>
			<div class="col-sm-1 fil-el">
				<button id="re-init-dash" type="button" class="btn btn-md btn-block btn-default">
					<i class="fas fa-sync-alt"></i>
				</button>

			</div>
		</div>
<% end %>

<div id="note-opt-big-scr" class="mgs-note mgs-note-mrg-grid">
  <i id="optim-big-scr">Cet écran est optimisé pour une utilisation ordinateur ou tablette.</i>
</div>
<% if @emptyResultSet %>
  <div class="col-sm-12 no-data">
		<i class="fas fa-box-open"></i>&nbsp;
    Désolé, nous n'avons pas trouvé de suivi. Si vous venez de nous rejoindre ou si c'est un nouveau client, c'est normal !<br> Déjà, bienvenue ! Ensuite, nous vous invitons à demander à votre transporteur de vous ajouter dans sa liste de client pour avoir vos premiers suivi.
  </div>

<% else %>
	<div class="row">
	  <div class="col-sm-12">
	    <div id="jsGrid">
	    </div>
	  </div>
	</div>

	<br><br>
	<div class="row">
		<div class="col-lg-3">
		</div>
		<div class="col-lg-3">
		</div>
		<div class="col-lg-3">
		</div>
		<div class="col-lg-3">
				<button id="mgs-dash-print-csv" class="btn btn-default-light btn-md btn-block">Exporter CSV &nbsp; <i class="fas fa-th"></i>
				</button>
		</div>
		<div class="col-sm-12 mgs-med-note">
			<hr>
			Le <i class="fas fa-stopwatch"></i> &nbsp;indique le nombre de jour de ce suivi depuis sa création.<br>
			Le <i class="c-w fas fa-box"></i> &nbsp;indique que votre paquet est une livraison. Il doit être livré au local transporteur.<br>
			Le <i class="c-b fas fa-truck"></i> &nbsp;indique que votre paquet est un enlèvement. Le transporteur ira l'enlever à l'adresse indiquée.<br>
			Le <i class="mgs-red fas fa-pen-square"></i> &nbsp;indique qu'une action de votre part est attendue. Veuillez cliquer sur la ligne.<br>
			Le <i class="fas fa-arrow-circle-right"></i> &nbsp;indique que votre paquet est en cours. Aucune action de votre part est attendue.<br>
			Le <i class="fas fa-window-close"></i> &nbsp;indique qu'aucune action de votre part n'est attendue.
		</div>
	</div>

<% end %>

<div class="row">
  <div class="col-lg-3">
	</div>
  <div class="col-lg-6">
      <form action="/seeone" method="post" id="mg-checkbc-form">
        <input type="submit" name="formSubmit" class="btn btn-default btn-lg btn-block" id="mg-check-step-btn"
                value="Vérifier"/>

        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <textarea class="form-control step-hid" rows="1" id="read-cb-id" name="checkcbid" placeholder="code barre id" style="resize: none;"></textarea>
        <textarea class="form-control step-hid" rows="1" id="read-cb-sec" name="checkcbsec" placeholder="code barre sec" style="resize: none;"></textarea>
      </form>
  </div>
  <div class="col-lg-3">
  </div>
</div>
