
<div id="mgs-dialog" class="mgs-dialog-big-block row">
  <div class="col-lg-3">
  </div>
	<div class="mgs-dialog-window col-lg-6">
		Confirmez que vous voulez <br>
		<span id="nm-t-cf"></span> ?
		<div class="dialog-btn">
      <span id="dial-order">X</span>
			<div class="diag-btn">
				<button id="crt-cb-clt-cf" class="btn btn-default btn-lg btn-block">Confirmer &nbsp; <i class="fas fa-check-square"></i></button>
			</div>
			<div class="diag-btn">
				<button id="crt-cb-clt-ds" class="btn btn-default-light btn-sm btn-block">Annuler &nbsp; <i class="far fa-times-circle"></i></button>
			</div>
		</div>
		<span id="crt-cb-param" class="hid-display"></span>
    <span id="crt-cb-order" class="hid-display"></span>
    <span id="crt-cb-email" class="hid-display"></span>
  </div>
	<div class="col-lg-3">
  </div>
</div>

<div id="mgs-dialog-feedback" class="mgs-dialog-big-block row">
  <div class="col-lg-3">
  </div>
	<div id="close-feeback" class="mgs-dialog-window-fdb mgs-dialog-fdb-success col-lg-6">
		<span id="msg-feedback"></span>&nbsp;<span> <i class="far fa-times-circle"></i></span>
  </div>
	<div class="col-lg-3">
  </div>
</div>
