
<footer class="footer">
  <small>
    MGSuivi, tout droits réservés
  </small>
  <nav>
    <ul>
      <li><small><%= link_to "À propos",   about_path %></small></li>
      <li><small><%= link_to "Contact", contact_path %></small></li>
    </ul>
  </nav>
</footer>
