
<footer class="footer">
  <small>
    <i class="icon-fontastic"></i>&nbsp;tous droits réservés - version 0.2 - <i class="icon-rova"></i> vita gasy with <i class="fas fa-heart"></i>
  </small>
  <nav>
    <ul>
      <li><small><%= link_to "À propos",   about_path %></small></li>
      <li><small><%= link_to "Contact", contact_path %></small></li>
    </ul>
  </nav>
</footer>
