
<footer class="footer">
  <small>
    <i class="icon-fontastic"></i>&nbsp;MGSuivi, tout droits réservés - <i class="icon-rova"></i> Vita malagasy
  </small>
  <nav>
    <ul>
      <li><small><%= link_to "À propos",   about_path %></small></li>
      <li><small><%= link_to "Contact", contact_path %></small></li>
    </ul>
  </nav>
</footer>
