<footer class="footer">
  <small>
    MGSuivi, tout droits réservés
  </small>
  <nav>
    <ul>
      <li><%= link_to "Conditions d'utilisation",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
